.container {
    text-align: center;
}

.image{
    width: 600px;
margin: 40px auto;
}
.button{
    border-radius: 0;
    background-color: rgb(117, 117, 117);
    border: none;
    font-family: inherit;
    color: rgb(29, 28, 28);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
transition: trasnform 200ms ease-in-out;
}
.button:hover{
transform: scale(1.3);
}